*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    background-color: blanchedalmond;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    background-color: blue;
}

h1{
    color: red;
}

ul{
    list-style-type: none;
    display: flex;
}

li{
    margin-right: 20px;
}

a[href]{
    text-decoration: none;
    color: red;
    font-weight: bolder;
}

nav a:hover{
    color: white;
}

nav a:active{
    color: black;
}

.welcome{
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    background-size: cover;
    justify-content: center;
    background-image: url("logo.jpg");
    height: 650px;
    background-repeat: no-repeat;
}

.welcome h2{
    font-size: 30px;
    margin-bottom: 20px;
    color: azure;
}

.welcome button{
    background-color: blue;
    border: none;
    padding: 10px 20px;
    color: azure;
    border-radius: 3px;
    font-size: 16px;
}

.aboutus{
    text-align: center;
    padding: 40px 20px;
}

.aboutus p{
    font-size: 20px;
    line-height: 1.5;
}

.aboutus h2{
    font-size: 25px;
    margin-bottom: 20px;
}

.image{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}

.image img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.gallery{
    text-align: center;
    padding: 50px 20px;
}

.gallery h2{
    font-size: 30px;
    margin-bottom: 20px;
}

footer{
    text-align: center;
    background-color: azure;
    padding: 20px 20px;
}

footer p{
    font-size: 14px;
    color: #999;
}